body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px 0;

  .logo img {
    display: block;
    width: 70px;
    height: 70px;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
  }

  &__subtitle {
    font-size: 0.8rem;
    font-style: italic;
  }
}

.addBtn {
  margin-bottom: 30px;
}

.addBtn button {
  display: block;
  padding: 4px 30px;
  margin: 0 auto;
  color: #fff;
  background-color: rgb(83, 133, 183);
  font-weight: 400;

  &:hover {
    background-color: rgb(63, 118, 173);
    color: #fff;
  }
}

.contacts {
  width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.contact {
  position: relative;
}

.deleteBtn {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.list-group-item:hover {
  .deleteBtn {
    display: inline-block;
  }
}

.form {
  width: 700px;
  margin: 0 auto;
  padding: 25px;
  border: 2px dashed rgb(188, 188, 188);
}

.form__inner {
  margin: 0 auto;
  display: flex;
  justify-content: center;

  & > .col {
    flex: 0 0 45%;
  }

  .form_btn-group {
    width: 79%;
    display: flex;
    justify-content: space-around;
  }



  .form__btn {
    margin-top: 20px;
  }

  .form__btn button {
    width: 220px;
    display: block;
    color: #fff;
    background-color: rgb(83, 133, 183);
    font-weight: 400;

    &:hover {
      background-color: rgb(63, 118, 173);
      color: #fff;
    }
  }

  .btn-cancel button {
    background-color: rgb(200, 50, 50);
    font-weight: 400;

    &:hover {
      background-color: rgb(180, 44, 44);
      color: #fff;
    }
  }
}

.search {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 700px;
  padding: 20px 0;

  &__inner {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__input {
    font-size: 0.85rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #333;
    padding-left: 28px;
    transition: all 0.18s;

    &::placeholder {
      font-size: 0.85rem;
      transition: all 0.18s;
    }

    &:focus {
      outline: none;
      border-bottom: 2px solid rgb(83, 133, 183);
      color: rgb(83, 133, 183);
    }

    &:focus::placeholder {
      font-size: 0.95rem;
    }
  }

  &__icon {
    font-size: 0.85rem;
    transition: all 0.18s;
    position: absolute;
    padding: 5px;
    left: 0;
    top: 0;
  }

  .search__input:focus {
    font-size: 1rem;
  }

  .search__input:focus + .search__icon {
    font-size: 1.05rem;
    color: rgb(83, 133, 183);
  }
}
